<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sergey Nagornykh</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,500,700" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-app.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyBTnzI2gz5GvT0CfH5Ob6WvXrPtM3z9hwI",
      authDomain: "nagornykh-a27ab.firebaseapp.com",
      projectId: "nagornykh-a27ab",
      storageBucket: "nagornykh-a27ab.appspot.com",
      messagingSenderId: "484699543721",
      appId: "1:484699543721:web:6c5801bc0668b879c031b8"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
  </script>
</head>
