<div class="skills-wrp">
  <p><mark>Languages:</mark> Typescript/Javascript</p>
  <p><mark>Web frameworks:</mark> Vue(2, 3), Nuxt3</p>
  <p><mark>API:</mark> Rest/GraphQl</p>
  <p>
    <mark>Vue ecosystem:</mark> Vue Router, Pinia, Vue Test Utils, Vite, Vitest, Vue Apollo
  </p>
  <p>
    <mark>UI skills:</mark> Html, Sass, PostCSS, TailwindCSS
  </p>
  <p><mark>UI test tools:</mark> Browsersync, Browserstack</p>
  <p><mark>Template engine:</mark> Pug, Nunjucks</p>
  <p><mark>Tools:</mark> Eslint, Prettier, Typescript Eslint, Stylelint</p>
</div>
