<div class="skills-wrp">
  <p><mark>Languages:</mark> Javascript(ES6+), Typescript</p>
  <p><mark>Web frameworks:</mark> Vue(2, 3), Nuxt3, Express.js</p>
  <p><mark>API:</mark> Rest/GraphQl(Apollo client)</p>
  <p>
    <mark>Vue ecosystem:</mark> Options/Composition API, Pinia, Vuex, Vue
    Router, Vue cli, Vue Loader
  </p>
  <p>
    <mark>UI skills:</mark> Semantic HTML5 markup, SVG, Icon fonts, Svg sprite,
    Sass/Postcss, BEM, Grid/Flexbox layout
  </p>
  <p><mark>UI test tools:</mark> Browsersync, Browserstack</p>
  <p>
    <mark>UI libs:</mark> Element plus, BootstrapVue, AgGrid.js, Awesome Vue.js
  </p>
  <p><mark>CSS frameworks:</mark> TailwindCSS, Bootsrap, Materialize</p>
  <p><mark>Template engine:</mark> Pug, Nunjucks</p>
  <p><mark>Tools:</mark> Vite, Webpack, Gulp, Babel</p>
</div>
