<div class="skills-wrp">
  <p><mark>Languages:</mark> Typescript/Javascript</p>
  <p><mark>Web frameworks:</mark> React, Vue, Nuxt</p>
  <p><mark>API:</mark> Rest/GraphQl/Websocket</p>
  <p>
    <mark>React ecosystem:</mark> React Router, Formik, Apollo Client, Mui
  </p>
  <p>
    <mark>Vue ecosystem:</mark> Vue Router, Vue CLI, Vuex, Pinia, Vue Test Utils, Vite, Vitest, Vue Apollo, VueUse, Vuelidate, AgGrid
  </p>
  <p>
    <mark>UI skills:</mark> Html, Sass, PostCSS, TailwindCSS, MaterializeCSS, Flexbox, Grid, Responsive design
  </p>
  <p><mark>Template engine:</mark> Pug, Nunjucks</p>
  <p><mark>Tools:</mark> Eslint, Prettier, Stylelint</p>
  <p><mark>Bundlers:</mark> Vite, Webpack, Gulp</p>
</div>
