:root {
  --bg-color: #364c96;
  --text-color: #eaebed;
  --accent-color: #ff8496;
  --accent-secondary-color: #ff8496;
  --circle-color: rgba(234, 235, 237, 0.6);
}
body {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.8s linear, color 0.8s linear;
}
h1, u {
  color: var(--accent-color);
  transition: color 0.8s linear;
}
mark, a {
  color: var(--text-color);
  transition: color 0.8s linear;
}
mark {
  background-color: var(--accent-secondary-color);
  transition: background-color 0.8s linear;
}
a:after {
  top: 200ms cubic-bezier(0, 0.8, 0.13, 1), background-color 0.8s linear;
}
.circle {
  fill: var(--circle-color);
  transition: fill 0.8s linear;
}
body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: calc(10px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  padding: 5vh 10vw;
}
h1 {
  font-size: 4.5em;
  font-weight: 500;
  margin-bottom: 0;
}
p {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.4;
  max-width: 28em;
}
a {
  text-decoration: none;
  position: relative;
}
a:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
}
a:hover:after {
  top: 0%;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.circle {
  opacity: 0;
}
